.search__button {    
    font-size: 26px;
    color: white;

    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: none;
    background-color: black;
    border: 2px solid #fff;
    

    z-index: 10;

    grid-row: 3/4;
}

/* .search__button:hover {    
    background-color: #347eff;
}

.search__button:active {    
    background-color: #2A65CC;
}

@media screen and (max-width: 460px) {
    .search__button {
        width: 100%;
        height: 56px;

        justify-self: center;
    }
} */