<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="we know how dress you">
  <meta name="author" content="Andrew Bubnov">
  <title>DressMe</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
  <div class="page">
    <header class="header">
      <h1 class="header__logo logo">dressme</h1>
      <button class="header__button button">Другой город</button>
    </header>

    <main class="content">
      <section class="forecast">
        <h2 class="forecast__local">Южно-Сахалинск</h2>
        <img src="" alt="weather visualisation" class="forecast__image">
        <p class="forecast__temperature">-&nbsp;14&deg;</p>
        <span class="forecast__max-temp">-&nbsp;9&deg;</span>
        <span class="forecast__min-temp">-&nbsp;20&deg;</span>
        <span class="forecast__describe">Облачно</span>
        <p class="forecast__advice-title">Наш&nbsp;совет:&nbsp;
          <span class="forecast__advice">не заудте головной убор и перчатки</span>
        </p>
      </section>
    </main>

    <footer class="footer">
      <h3 class="footer__logo logo">dressme</h3>
      <p class="footer__copyright">Andrew&nbsp;Bubnov&nbsp;&copy;&nbsp;2020</p>      
    </footer>
  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>