.header__button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    padding: 0 15px;

    width: auto;
    height: 40px;

    background: none;
    outline: none;

    border: 2px solid #000;
    border-radius: 100px;

    transition: all .4s ease;
}

.header__button:hover {
    cursor: pointer;
    /* box-shadow: 0px 4px rgb(120, 194, 255); */
    opacity: .4;
}